@inject ISkillService SkillService
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

<form @onsubmit="Register">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Username" required @bind="@Username">
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" required @bind="@Email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" required @bind="@Password">
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" required @bind="@ConfirmPassword">
    </div>
    <div class="form-group">
        <label for="firstname">First name</label>
        <input type="text" class="form-control" id="firstname" placeholder="First name" required @bind="@FirstName">
    </div>
    <div class="form-group">
        <label for="lastname">Last name</label>
        <input type="text" class="form-control" id="lastname" placeholder="Last name" required @bind="@LastName">
    </div>
    <div class="form-group">
        <label for="birthday">Birthday</label>
        <input type="date" class="form-control" id="birthday" required @bind="@Birthday">
    </div>
    <div class="form-group">
        <label for="role">Role</label>
        <select id="role" class="form-control mb-3" required @bind="@Role">
            <option value="Employer">Employer</option>
            <option value="Employee">Employee</option>
        </select>
    </div>
    <div class="form-group">
        <label for="skills">Skills</label>
        <select id="skills" class="form-control mb-3" multiple>
            @foreach (var skill in skills)
            {
                <option value="@skill.Name">@skill.Name</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>

@code {
    private IEnumerable<SkillResponseDto> skills = Enumerable.Empty<SkillResponseDto>();

	public string Username { get; set; }
    public string Email { get; set; }
    public string Password { get; set; }
    public string ConfirmPassword { get; set; }
    public string FirstName { get; set; }
    public string LastName { get; set; }
    public DateTime Birthday { get; set; }
    public string Role { get; set; } = "Employer";
    public List<string> SelectedSkills { get; set; } = new List<string>();

	protected override async Task OnInitializedAsync()
	{
		skills = await SkillService.GetSkillsAsync();
	}

    public async Task Register()
    {
		var dto = new RegistrationRequestDto
		{
			UserName = Username,
			Email = Email,
			Password = Password,
			Firstname = FirstName,
			Lastname = LastName,
			Birthday = Birthday,
			Role = Role,
			Skills = SelectedSkills
		};

		if (Password != ConfirmPassword)
		{
			// Show error message
			return;
		}

		var result = await AccountService.RegisterAsync(dto);
		NavigationManager.NavigateTo("/");
    }
}
